.catalogBlock {
    width: 352px;
    height: 472px;
    margin: 30px 15px 30px 30px;
    border: 1px solid rgba(88, 88, 88, 0.473);
    z-index: 1;
}
.catalogBlock:hover {
    box-shadow: -3px 1px 10px 0 black;
}
.saveBlock {
    width: 350px;
    height: 0.1px;
}
.catalog {
    width: 350px;
    height: 100px;
    background-color: white;
    background-size: 350px 100px;
    display: flex;
    align-items: center;
    transition-property: all;
    transition: 1.5s;
    text-decoration: none;
}
.catalog:hover {
    background-color: rgb(236, 236, 236);
    width: 350px;
}
.marginCatalog {
    width: 350px;
    height: 80px;
    margin: 10px 0px 10px 10px;
}
.linkCatalog {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 10px;
    text-decoration: none;
}
.linkCatalog:visited {
    color: black;
}
.linksInCatalog {
    height: 30px;
    display: flex;
    margin-left: 10px;
}
.linkNews {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-decoration: none;
}
.linkHits {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
}
.linkSales {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
    color: orange;
}
.linkSales:hover {
    color: red;
}


.tableGames {
    width: 350px;
    height: 130px;
    background-color: white;
    display: flex;
    align-items: center;
    transition-property: all;
    transition: 1.5s;
    text-decoration: none;
}
.tableGames:hover {
    background-color: rgb(236, 236, 236);
    width: 350px;
}
.marginTableGames {
    width: 350px;
    height: 110px;
    margin: 10px 0px 10px 10px;
}
.linkTableGames {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 10px;
    text-decoration: none;
}
.linksInTableGames {
    height: 60px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.linkPartyTableGames {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-decoration: none;
}
.linkCardsTablesGames {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
}
.linkClassicTablesGames {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
}
.linkCoopTableGames {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
}
.linkRolePlayTableGames {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-decoration: none;
}
.linkDetectiveTableGames {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
}


.warhammer {
    width: 350px;
    height: 70px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    transition-property: all;
    transition: 1.5s;
    text-decoration: none;
}
.warhammer:hover {
    background-color: rgb(236, 236, 236);
}
.marginWarhammer {
    width: 350px;
    height: 50px;
    margin: 10px 0px 10px 10px;
}
.linkWarhammer {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 10px;
    text-decoration: none;
}


.manchikin {
    width: 350px;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    transition-property: all;
    transition: 1.5s;
    text-decoration: none;
}
.manchikin:hover {
    background-color: rgb(236, 236, 236);
    width: 350px;
}
.marginManchikin {
    width: 350px;
    height: 50px;
    margin: 10px 0px 10px 10px;
}
.linkManchikin {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 10px;
    text-decoration: none;
}


.paints {
    width: 350px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    transition-property: all;
    transition: 1.5s;
    text-decoration: none;
}
.paints:hover {
    background-color: rgb(236, 236, 236);
    width: 350px;
}
.marginPaints {
    width: 350px;
    height: 80px;
    margin: 10px 0px 10px 10px;
}
.linkPaints {
    width: 350px;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 10px;
    text-decoration: none;
}
.linksInPaints {
    width: 350px;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.linkLayer {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-decoration: none;
}
.linkContrast {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
}
.linkBase {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
}

.linkSMPnt {
    margin-top: 20px;
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-decoration: none;
    color: rgba(130, 125, 209);
}
.linkCatalogNews, .linkCatalogHits {
    margin-top: 15px;
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
    color: rgba(130, 125, 209);
}
.linkTG, .linkCompTG {
    margin-top: 5px;
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-decoration: none;
    color: rgba(130, 125, 209);
}
.linkSMPnt:hover, .linkCatalogNews:hover, .linkCatalogHits:hover, .linkCompTG:hover, .linkTG:hover, .linkCatalog:hover, .linkNews:hover, .linkHits:hover, .linkSales:hover, .linkTableGames:hover, .linkPartyTableGames:hover, .linkCardsTablesGames:hover, .linkClassicTablesGames:hover, .linkCoopTableGames:hover, .linkRolePlayTableGames:hover, .linkDetectiveTableGames:hover, .linkWarhammer:hover, .linkManchikin:hover, .linkPaints:hover, .linkLayer:hover, .linkContrast:hover, .linkBase:hover{
    text-decoration: underline;
    cursor: pointer;
}


