.catalogShowMoreMainLink {
    display: flex;
    min-width: 300px;
    height: 150px;
    margin: 10px 0px 10px 10px;
    justify-content: space-between;
}
.catalogShowMoreNewsLink {
    height: 50px;
    width: 130px;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.catalogShowMoreHitsLink {
    height: 50px;
    width: 130px;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.catalogShowMoreBottomPicture {
    width: 350px;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-image: url(../gameShopContent/catalogback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    filter: blur(1px);
}


.tableGamesShowMoreMainLink {
    display: flex;
    min-width: 300px;
    height: 150px;
    margin: 10px 0px 10px 10px;
    justify-content: space-between;
}
.tableGamesShowMoreGenresLink {
    height: 50px;
    width: 130px;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.tableGamesShowMoreDifferentCompaniesLink {
    height: 50px;
    width: 130px;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.tableGamesShowMoreBottomPicture {
    width: 350px;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-image: url(../gameShopContent/tablegamesback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    filter: blur(1px);
}


.warhammerShowMoreMainLink {
    height: 50px;
    width: 300px;
    margin: 10px 0px 10px 10px;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.warhammerShowMoreBottomPicture {
    width: 350px;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-image: url(../gameShopContent/warhammerback.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    filter: blur(1px);
}


.manchikinShowMoreMainLink {
    height: 50px;
    width: 300px;
    margin: 10px 0px 10px 10px;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.manchikinShowMoreBottomPicture {
    width: 350px;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-image: url(../gameShopContent/manchikinback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    filter: blur(1px);
}


.paintsShowMoreMainLink {
    height: 50px;
    width: 300px;
    margin: 10px 0px 10px 10px;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.paintsShowMoreBottomPicture {
    width: 350px;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-image: url(../gameShopContent/paintsback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    filter: blur(1px);
}


.catalogShowMore, .tableGamesShowMore, .warhammerShowMore, .manchikinShowMore, .paintsShowMore {
    background-color: rgb(236, 236, 236);
    width: 352px;
    height: 472px;
    position: absolute;
    margin-left: 380px;
    visibility: hidden;
    margin-top: 30px;
    border: 1px solid rgba(88, 88, 88, 0.473);
    box-shadow: 3px 1px 10px 0 black;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}


.catalogShowAllGoods:hover, .tableGamesShowAllGoods:hover, .warhammerShowAllGoods:hover, .manchikinShowAllGoods:hover, .paintsShowAllGoods:hover {
    text-decoration:underline;
    color: orange;
}