@import './main-file-courusel/main-file-courusel.scss';
@import './main-file-second-block/main-file-second-block.scss';
@import './banner-file/banner-file.scss';
@import '@/assets/css/mixins/mixins.scss';

.MainFile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    position: relative;

    .newAd {
        width: 200px;
        height: 200px;
        position: fixed;
        top: 60%;
        right: 10%;
        background-image: url(@/assets/css/gameShopContent/Dog_Park_1.png);
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 100;
        cursor: pointer;

        @include smallmobile {
            display: none;
        }
        &:hover {
            background-image: url(@/assets/css/gameShopContent/Dog_Park_2.png);
        }

        .closeAd {
            height: 10px;
            width: 10px;
            color: red;
            font-weight: 900;
            line-height: 10px;
            position: absolute;
            top: 5px;
            right: 5px;

            &:hover {
                color: green
            }
        }
    }
    .fakeTableTop {
        @include faketabletop();

        @include mobileTabletsmallNote {
            height: 60px;
        }
    }
    .mainContent {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.fakeFooter {
    @include mobileTabletsmallNote {
        width: 100%;
        background-color: black;
    }
}

