$mobile: 999px;
$tablet: 767px;
$desktop: 1000px;
$xxs-desktop: 1024px;
$xs-desktop: 1200px;
$sm-desktop: 1280px;
$m-desktop: 1455px;
$xl-desktop: 1600px;
$xl-mobile: 479px;
$xs-mobile: 374px;
$x-mobile: 359px;
$xxs-mobile: 320px;

//adaptive mixins//
@mixin smallmobile() {
    @media (max-width: #{$xxs-mobile}) {
        @content;
    }
}

@mixin tablet() {
    @media (min-width: #{$xxs-mobile + 1}) and (max-width: #{$tablet}) {
        @content;
    }
}

@mixin smallNote() {
    @media (min-width: #{$tablet + 1}) and (max-width: #{$xxs-desktop}) {
        @content;
    }
}

@mixin tabletsmallNote() {
    @media (min-width: #{$xxs-mobile + 1}) and (max-width: #{$xxs-desktop}) {
        @content;
    }
}

@mixin mobileTabletsmallNote() {
    @media (max-width: #{$xxs-desktop}) {
        @content;
    }
}

@mixin notebook() {
    @media (min-width: #{$xxs-desktop + 1}) and (max-width: #{$m-desktop}) {
        @content;
    }
}

@mixin withoutforK() {
    @media (max-width: #{$m-desktop}) {
        @content;
    }
}

@mixin forKMonitor() {
    @media (min-width: #{$m-desktop}) {
        @content;
    }
}



//second block main file//
@mixin links-in-sec-block() {
    list-style-type: none;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    font-size: 16px;
    text-decoration: none;
}

@mixin links-in-sec-block-50px() {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    margin-left: 10px;
    text-decoration: none;
}
//show more second block main file//
@mixin show-more-bottom-picture() {
    width: 350px;
    height: 200px;
    position: absolute;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
    filter: blur(1px);
}

@mixin show-more-links() {
    height: 50px;
    line-height: 50px;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

//fake tabletop//
@mixin faketabletop() {
    width: 100vw;
    height: 80px;
    background-color: black;
}

