.ButtonFile {
    position: relative;
    background: none;
    color: white;
    width: 75px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
    text-align: center;
    transition-property: all;
    transition: 0.5s;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top-style: none;
    border-bottom-style: none;

    &:hover {
        color: gold
    }
}