.RandomRecomendedGoodShowFile{
    margin: 5px 0 4px 0;
    height: 60px;
    width: 260px;
    display: flex;
    background-color: white;
    border-top: 2px solid orange;
    border-left: 2px solid orange;
    cursor: pointer;
    border-bottom-right-radius: 99px;
    transition-property: all;
    transition: 0.5s;
    position: relative;

    &:hover {
        border-bottom-right-radius: 0px;
    }
    .RandomRecomendedGoodShowFileImage{
        margin-top: 5px;
        margin-left: 10px;
        height: 50px;
        width: 50px;

        &:hover{
            opacity: 0.5
        }
    }
    .RandomRecomendedGoodShowFileInfo{
        height: 60px;
        width: 1900px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .RandomRecomendedGoodShowFileName{
            height: 30px;
            width: 190px;
            line-height: 35px;
            
            &:hover {
                color: orange;
            }
        }
        .RandomRecomendedGoodShowFilePrice{
            height: 30px;
            width: 190px;
            line-height: 35px;
        }
    }
    .RandomRecomendedGoodShowFileAddToCart{
        width: 20px;
        height: 20px;
        background-image: url(@/assets/css/gameShopContent/cart1.png);
        position: absolute;
        bottom: 5px;
        right: 5px;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;

        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $main-color;
            opacity: 0.2;
            border-radius: 99px;
            z-index: 1;
        }
        &:hover::before{
            background-color: orange;
        }
    }
}








