@import 'cart-item-file';
@import '@/assets/css/mixins/mixins.scss';
.CartFile {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: 30px;

    @include smallmobile {
        height: 100vh;
        margin: 0;
    }
    .fakeTableTop {
        @include faketabletop();
        @include mobileTabletsmallNote {
            height: 60px;
        }
    }
    .emptyCart {
        width: 300px;
        height: 100px;
        line-height: 100px;
        font-size: 32px;
        color: orange;
        text-shadow: 3px 3px 10px 0 solid black;
        margin-top: 30vh;
    }
    .ItemsInCart {
        width: 700px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 10px;
        z-index: 1;

        @include smallmobile {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 0px;
            z-index: 1;
        }
    }
    .allSumm {
        width: 150px;
        height: 25px;
        background-color: $main-color;
        position: fixed;
        top: 80px;
        right: 29%;
        text-align: center;
        line-height: 25px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: rgba(125, 209, 167);
        z-index: 2;

        @include smallmobile {
            top: 0;
            right: 0;
            width: 60px;
        }
        @include tabletsmallNote {
            width: 100px;
            height: 25px;
            background-color: $main-color;
            position: fixed;
            top: 25%;
            right: 25px;
            text-align: center;
            line-height: 25px;
            color: rgba(125, 209, 167);
            border-radius: 99px;
            z-index: 2;
        }
    }
}



// @media (max-width: 1023px) {
//     .fakeTableTop {
//     }
//     .allSumm {

// }
// }

// @media (max-width: 320px) {
//     .CartFile {
//     }
//     .ItemsInCart {

// }
// }